html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  body {
    margin: 0;
  }
}
.div-ana {
  margin-top: 12rem;
  p::first-letter {
    font-size: 2.5rem;
  }
}
/* bolum 1 */
.bolum1 {
  background-image: url(img/homepageslayt1.jpg);
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  border-radius: 0.12rem;
  margin-left: auto;
  margin-right: auto;
  /* contain dene */
  background-size: cover;
  height: 66vh;
}
/*  bolum 2 */
.bolum2 {
  font-size: 1.8rem;
  /* lineer renk değişimi  */
  background-image: linear-gradient(#ffffff, #e6e6e6);
  .row {
    padding: 2.5rem;
    text-align: center;
    font-family: "Edu TAS Beginner", cursive;
  }

  .column {
    display: inline-block;
    vertical-align: text-top;
    width: calc(25% - 4px);
    height: 50vh;
  }
  .column h3 {
    box-shadow: rgba(103, 99, 99, 0.56) 0.31rem 0.62rem 3.43rem 0rem;
    background-color: #cccccc;
  }
  .row h2 {
    padding-top: 13rem;
    font-size: 5rem;
  }

  /* uzerine geline goster */
  .row :hover .imgyazar {
    display: block;
  }
  /* normalde resim gozukmesin bolum 2*/

  .imgyazar {
    display: none;
    padding: 0rem 6.87rem;
    width: 18rem;
    height: 18rem;
  }
}
/* bolum 3 */
.bolum3 {
  .dostoyewski {
    width: auto;
    display: flex;
    background-image: linear-gradient(#e6e6e6, #cccccc);
    height: 90vh;
  }
  .bolum3-p {
    font-family: "Edu TAS Beginner", cursive;
    padding: bottom left;
    text-align: center;
    padding: 8% 0% 0% 10%;
    font-weight: 600;
    font-size: 2rem;
  }
  .bolum3-img {
    /* sekil verme */
    clip-path: circle(50% at 50% 50%);
  }
  .row-bolum3 {
    background-image: linear-gradient(#cccccc, #b3b3b3);
    padding: 2.5rem;
    /* kafka and johnsteinbeck   */
    font-size: 2rem;
    text-align: center;
  }
  .column-bolum3 {
    font-family: "Edu TAS Beginner", cursive;
    display: inline-block;
    vertical-align: text-top;
    width: calc(50% - 0.3rem);
    height: 75vh;
  }
  .imgyazar-b3 {
    width: 32.5rem;
    height: 32.5rem;
  }
  .imgyazar-b3:hover {
    transform: translateY(-1rem);
  }
}
/* bolum 4 */
.bolum4 {
  background-image: linear-gradient(#b3b3b3, #cccccc);
  height: 80vh;
  font-size: 1.7rem;
  .row {
    padding: 2.5rem;
    text-align: center;
    font-family: "Edu TAS Beginner", cursive;
  }

  .column {
    display: inline-block;
    vertical-align: text-top;
    width: calc(25% - 4px);
    height: 50vh;
  }
  .column h3 {
    box-shadow: rgba(103, 99, 99, 0.56) 0.31rem 0.62rem 3.43rem 0rem;
    background-color: #cccccc;
  }
  .row h2 {
    padding-top: 13rem;
    font-size: 5rem;
  }

  /* uzerine geline goster */
  .row :hover .imgyazar {
    display: block;
  }
  /* normalde resim gozukmesin bolum 2*/

  .imgyazar {
    display: none;
    padding: 0rem 6.87rem;
    width: 18rem;
    height: 18rem;
  }
}
/* bolum 5 */
.bolum5 {
  background-image: url(img/bolum5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* contain dene */
  background-size: cover;
  height: 96vh;
  .div-bolum5 {
    background-image: linear-gradient(#cccccc, #d9d9d9);
  }
}
/* slayt */
#kapsayici {
  padding-top: 3rem;
  width: 80%;

  position: relative;
  margin: auto;

  .resim {
    width: 100%;
    display: none;
    overflow: hidden; /* Eklediğimiz stil */
  }

  img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    max-height: 70vh; /* Resmin oranlarını korumak için */
  }

  .ileri,
  .geri {
    position: absolute;
    background: #fff;
    opacity: 0.8;
    font-size: 1.9rem;
    padding: 10px;
    color: black;
    cursor: pointer;
    top: 48%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .ileri:hover,
  .geri:hover {
    color: white;
    background-color: #020202;
    opacity: 1;
  }

  .ileri {
    right: 1rem;
  }

  .geri {
    left: 1rem;
  }

  .aktif2 {
    display: block;
    animation: fade 0.7s ease;
  }

  @keyframes fade {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  ul {
    position: relative;
    bottom: 3rem;
    right: 2.5rem;
    list-style: none;
    text-align: center;
  }

  ul li {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #000000;
    display: inline-block;
  }
  .aktiflist {
    background: #7debe6;
  }
}
/* bolum 6 */
.bolum6 {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 1.8rem;
  background-image: linear-gradient(#d9d9d9, rgba(255, 255, 255, 0.578));

  h2 {
    padding-top: 8rem;
    text-align: center;
    font-size: 6rem;
  }
  .bolum6-p {
    text-align: center;
    padding: 0px 5rem;
    font-weight: 500;
    font-size: 1.8rem;
  }
  h3 {
    background-color: #fff;
  }
  .row {
    padding: 2.5rem;
    text-align: center;
    font-family: "Edu TAS Beginner", cursive;
  }

  .column {
    display: inline-block;
    vertical-align: text-top;
    width: calc(25% - 4px);
    height: 50vh;
  }
  .column h3 {
    box-shadow: rgba(103, 99, 99, 0.56) 0.31rem 0.62rem 3.43rem 0rem;
    background-color: #cccccc;
  }
  .row h2 {
    padding-top: 13rem;
    font-size: 5rem;
  }

  /* uzerine geline goster */
  .row :hover .imgyazar {
    display: block;
  }
  /* normalde resim gozukmesin bolum 2*/

  .imgyazar {
    display: none;
    padding: 0rem 6.87rem;
    width: 18rem;
    height: 18rem;
  }
}
/* ***************RESPONSİVE********************** */
@media (max-width: 576px) {
  .div-ana {
    margin-top: 2rem;
    p::first-letter {
      font-size: 1.2rem;
    }
  }
  /* bolum 1 */
  .bolum1 {
    height: 31vh;
    background-size: contain;
    background-position: center top;
  }
  /*  bolum 2 */
  .bolum2 {
    font-size: 1rem;
    .row {
      padding: 0.1rem;
      text-align: center;
      font-family: "Edu TAS Beginner", cursive;
    }

    .column {
      display: inline-block;
      vertical-align: text-top;
      width: calc(25% - 4px);
      height: 35vh;
    }

    .row h2 {
      padding-top: 10vh;
      font-size: 2rem;
    }
    /* normalde resim gozukmesin bolum 2*/
    .imgyazar {
      display: none;
      padding: 0rem 1.87rem;
      width: 8rem;
      height: 8rem;
    }
  }
  /* bolum 3 */
  .bolum3 {
    .dostoyewski {
      width: auto;
      display: flex;
      background-image: linear-gradient(#e6e6e6, #cccccc);
      height: 50vh;
    }
    .bolum3-p {
      font-family: "Edu TAS Beginner", cursive;
      padding: bottom left;
      text-align: center;
      padding: 8% 0% 0% 10%;
      font-weight: 600;
      font-size: 1rem;
    }
    .bolum3-img {
      /* sekil verme */
      clip-path: circle(50% at 50% 50%);
      height: 40vh;
    }
    .row-bolum3 {
      background-image: linear-gradient(#cccccc, #b3b3b3);
      padding: 0.5rem;
      /* kafka and johnsteinbeck   */
      font-size: 1rem;
      text-align: center;
    }
    .column-bolum3 {
      font-family: "Edu TAS Beginner", cursive;
      display: inline-block;
      vertical-align: text-top;
      width: calc(50% - 0.3rem);
      height: 55vh;
    }
    .imgyazar-b3 {
      width: 17.5rem;
      height: 17.5rem;
    }
  }
  /* bolum 4 */
  .bolum4 {
    background-image: linear-gradient(#b3b3b3, #cccccc);
    height: 50vh;
    font-size: 1rem;
    .bolum4 h3 {
      font-size: 1.2rem;
      box-shadow: rgba(255, 24, 24, 0.56) 5px 10px 55px 0px;
      background-color: #34bca1;
    }
    .imgyazar {
      display: none;
      padding: 0rem 1.87rem;
      width: 8rem;
      height: 8rem;
    }
  }
  /* bolum 5 */
  .bolum5 {
    background-position: center;
    background-size: contain;
    height: 30vh;
  }
  /* bolum 6 */
  .bolum6 {
    font-size: 1rem;
    background-image: linear-gradient(#fff, rgba(255, 255, 255, 0.578));
    h2 {
      padding-top: 2rem;
      text-align: center;
      font-size: 2rem;
    }
    .bolum6-p {
      text-align: center;
      padding: 0px 5rem;
      font-weight: 500;
      font-size: 1rem;
    }
    h3 {
      background-color: #fff;
    }

    .row {
      padding: 0.1rem;
      text-align: center;
      font-family: "Edu TAS Beginner", cursive;
    }

    .column {
      display: inline-block;
      vertical-align: text-top;
      width: calc(25% - 4px);
      height: 35vh;
    }

    .row h2 {
      padding-top: 10vh;
      font-size: 2rem;
    }
    .imgyazar {
      display: none;
      padding: 0rem 1.87rem;
      width: 8rem;
      height: 8rem;
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .div-ana {
    margin-top: 4rem;
  }

  p::first-letter {
    font-size: 1.5rem;
  }
  /* bolum 1 */
  .bolum1 {
    height: 35vh;
    background-size: contain;
    background-position: center top;
  }
  /*  bolum 2 */
  .bolum2 {
    font-size: 1.2rem;
    .row {
      padding: 0.8rem;
      text-align: center;
    }

    .column {
      display: inline-block;
      vertical-align: text-top;
      width: calc(25% - 4px);
      height: 35vh;
    }

    .row h2 {
      padding-top: 7rem;
      font-size: 3rem;
    }
    /* normalde resim gozukmesin bolum 2*/
    .imgyazar {
      display: none;
      padding: 0rem 2.5rem;
      width: 9rem;
      height: 9rem;
    }
  }
  /* bolum 3 */
  .bolum3 {
    .dostoyewski {
      width: auto;
      display: flex;
      background-image: linear-gradient(#e6e6e6, #cccccc);
      height: 55vh;
    }
    .bolum3-p {
      font-family: "Edu TAS Beginner", cursive;
      padding: bottom left;
      text-align: center;
      padding: 8% 0% 0% 10%;
      font-weight: 600;
      font-size: 1.2rem;
    }
    .bolum3-img {
      height: 45vh;
    }
    .row-bolum3 {
      padding: 0.8rem;
      /* kafka and johnsteinbeck   */
      font-size: 1.2rem;
    }
    .column-bolum3 {
      display: inline-block;
      vertical-align: text-top;
      width: calc(50% - 0.3rem);
      height: 60vh;
    }
    .imgyazar-b3 {
      width: 19.5rem;
      height: 19.5rem;
    }
  }
  /* bolum 4 */
  .bolum4 {
    height: 55vh;
    font-size: 1.2rem;
    .imgyazar {
      display: none;
      padding: 0rem 2.5rem;
      width: 9rem;
      height: 9rem;
    }
    .bolum4 h3 {
      font-size: 1.2rem;
    }
  }
  /* bolum 5 */
  .bolum5 {
    background-position: center;
    background-size: contain;
    height: 35vh;
  }
  /* bolum 6 */
  .bolum6 {
    font-size: 1.2rem;
    .bolum4 h3 {
      font-size: 1.2rem;
    }
    h2 {
      padding-top: 2rem;
      text-align: center;
      font-size: 3rem;
    }
    .bolum6-p {
      text-align: center;
      padding: 0px 5rem;
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .div-ana {
    margin-top: 8rem;
  }
  p::first-letter {
    font-size: 2rem;
  }
  /* bolum 1 */
  .bolum1 {
    height: 55vh;
    background-size: contain;
    background-position: center top;
  }
  /*  bolum 2 */
  .bolum2 {
    font-size: 1.4rem;
    .row {
      padding: 0.5rem;
      text-align: center;
    }

    .column {
      display: inline-block;
      vertical-align: text-top;
      width: calc(25% - 4px);
      height: 45vh;
    }

    .row h2 {
      padding-top: 6rem;
      font-size: 3.2rem;
    }
    /* normalde resim gozukmesin bolum 2*/
    .imgyazar {
      display: none;
      padding: 0rem 6.7rem;
      width: 9rem;
      height: 9rem;
    }
  }
  /* bolum 3 */
  .bolum3 {
    .dostoyewski {
      width: auto;
      display: flex;

      height: 60vh;
    }
    .bolum3-p {
      padding: bottom left;
      text-align: center;
      padding: 8% 0% 0% 10%;

      font-size: 1.4rem;
    }
    .bolum3-img {
      height: 50vh;
    }
    .row-bolum3 {
      padding: 0.8rem;
      /* kafka and johnsteinbeck   */
      font-size: 1.2rem;
    }
    .column-bolum3 {
      display: inline-block;
      vertical-align: text-top;
      width: calc(50% - 0.3rem);
      height: 65vh;
    }
    .imgyazar-b3 {
      width: 21.5rem;
      height: 21.5rem;
    }
  }
  /* bolum 4 */
  .bolum4 {
    height: 60vh;
    font-size: 1.4rem;
    .bolum4 h3 {
      font-size: 1.4rem;
    }
    .imgyazar {
      display: none;
      padding: 0rem 6.7rem;
      width: 9rem;
      height: 9rem;
    }
  }
  /* bolum 5 */
  .bolum5 {
    background-position: center;
    background-size: contain;
    height: 40vh;
  }
  /* bolum 6 */
  .bolum6 {
    font-size: 1.4rem;
    .imgyazar {
      display: none;
      padding: 0rem 6.7rem;
      width: 9rem;
      height: 9rem;
    }
    .bolum6 h2 {
      padding-top: 2.4rem;
      text-align: center;
      font-size: 3.3rem;
    }
    .bolum6-p {
      text-align: center;
      padding: 0px 6rem;
      font-size: 1.4rem;
    }
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .div-ana {
    margin-top: 10rem;
  }

  p::first-letter {
    font-size: 3rem;
  }
  /* bolum 1 */
  .bolum1 {
    height: 65vh;
    background-size: contain;
    background-position: center top;
  }
  /*  bolum 2 */
  .bolum2 {
    font-size: 1.6rem;
    .row {
      padding: 0.7rem;
      text-align: center;
    }

    .column {
      display: inline-block;
      vertical-align: text-top;
      width: calc(25% - 4px);
      height: 55vh;
    }

    .row h2 {
      padding-top: 7rem;
      font-size: 3.4rem;
    }
    /* normalde resim gozukmesin bolum 2*/
    .imgyazar {
      display: none;
      padding: 0rem 8.7rem;
      width: 11rem;
      height: 11rem;
    }
  }
  /* bolum 3 */
  .bolum3 {
    .dostoyewski {
      width: auto;
      display: flex;

      height: 65vh;
    }
    .bolum3-p {
      padding: bottom left;
      text-align: center;
      padding: 8% 0% 0% 10%;

      font-size: 1.5rem;
    }
    .bolum3-img {
      height: 55vh;
    }
    .row-bolum3 {
      padding: 0.8rem;
      /* kafka and johnsteinbeck   */
      font-size: 1.5rem;
    }
    .column-bolum3 {
      display: inline-block;
      vertical-align: text-top;
      width: calc(50% - 0.3rem);
      height: 70vh;
    }
    .imgyazar-b3 {
      width: 26.5rem;
      height: 26.5rem;
    }
  }

  /* bolum 4 */
  .bolum4 {
    height: 65vh;
    font-size: 1.5rem;
    .bolum4 h3 {
      font-size: 1.6rem;
    }
    .imgyazar {
      display: none;
      padding: 0rem 8.7rem;
      width: 11rem;
      height: 11rem;
    }
  }
  /* bolum 5 */
  .bolum5 {
    background-position: center;
    background-size: contain;
    height: 55vh;
  }
  /* bolum 6 */
  .bolum6 {
    font-size: 1.6rem;
    .bolum6 h2 {
      padding-top: 2.8rem;
      text-align: center;
      font-size: 3.3rem;
    }
    .bolum6-p {
      text-align: center;
      padding: 0px 6rem;
      font-size: 1.5rem;
    }
    .imgyazar {
      display: none;
      padding: 0rem 8.7rem;
      width: 11rem;
      height: 11rem;
    }
  }
}
